<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".reminder_activity"
            android:exported="false" />
        <activity
            android:name=".EditAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".AddAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".changePasswordLoginActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryFilesActivity"
            android:exported="false" />
        <activity
            android:name=".GadActivity"
            android:exported="false" />
        <activity
            android:name=".PhqActivity"
            android:exported="false" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
        <activity android:name=".AppointnementActivity" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricActivity"
            android:exported="false" />
        <activity
            android:name=".Diary_Activity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".TestsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ScratchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast_receiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>